image: openjdk:8-jdk

variables:
  ANDROID_COMPILE_SDK: "28"
  ANDROID_BUILD_TOOLS: "28.0.2"
  ANDROID_SDK_TOOLS:   "4333796"

cache:
  untracked: false
  key: ${CI_PROJECT_ID}
  paths:
    - android-sdk-linux
    - .gradle/
    - android-sdk.zip
    - /var/cache/apt/

stages:
  - build
  - deploy

assembleProductionRelease:
  stage: build
  tags:
    - dev
  script:
    - export GRADLE_USER_HOME=$(pwd)/.gradle
    - apt-get --quiet update --yes
    - apt-get --quiet install --yes wget tar unzip lib32stdc++6 lib32z1
    - wget --quiet --output-document=android-sdk.zip https://dl.google.com/android/repository/sdk-tools-linux-${ANDROID_SDK_TOOLS}.zip
    - echo A | unzip -d android-sdk-linux android-sdk.zip
    - echo y | android-sdk-linux/tools/bin/sdkmanager "platforms;android-${ANDROID_COMPILE_SDK}" >/dev/null
    - echo y | android-sdk-linux/tools/bin/sdkmanager "platform-tools" >/dev/null
    - echo y | android-sdk-linux/tools/bin/sdkmanager "build-tools;${ANDROID_BUILD_TOOLS}" >/dev/null
    - export ANDROID_HOME=$PWD/android-sdk-linux
    - export PATH=$PATH:$PWD/android-sdk-linux/platform-tools/
    - chmod +x ./gradlew
    - set +o pipefail
    - yes | android-sdk-linux/tools/bin/sdkmanager --licenses
    - set -o pipefail
    - ./gradlew assembleProductionRelease
  artifacts:
    paths:
    - app/build/outputs/
  when: manual
  allow_failure: false
  only:
    - tags

deploy:
  stage: deploy
  tags:
    - dev
  script:
    - apt update
    - apt install openssh-client
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H dev.api.mo-jual.com >> ~/.ssh/known_hosts
    - chmod 600 tebet-devops
    - ssh -i tebet-devops docker@dev.api.mo-jual.com "rm -rf cd /var/www/tebet/android/prod/*"
    - scp -i tebet-devops app/build/outputs/apk/dev/release/app-dev-release.apk docker@dev.api.mo-jual.com:/var/www/tebet/android/prod
  only:
    - tags
